@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@100..900&display=swap');

/* إعدادات أساسية */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* تأكد أن html و root يغطي كامل الشاشة */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: 0;
}

/* الخلفية الموحدة */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(25, 35, 20, 0.85), rgba(25, 35, 20, 0.85)), url('./assets/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

/* الروابط */
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

/* الحاوية العامة */
.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* الأزرار */
.btn {
  background: #fff;
  color: #92a888;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}
